# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Models & data (can be large)
models/*.h5
models/*.pkl
models/*.onnx
data/*.mp4
data/*.avi
assets/models/*.task

sessions/
user_data/
exports/
